[Unit]
Description=Run Monitor Kuota SSH Every Minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=monitor-kuota.service

[Install]
WantedBy=timers.target
