[Unit]
Description=Monitor Limit Kuota SSH per User
After=network.target

[Service]
ExecStart=/usr/local/bin/monitor-kuota
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
